@charset "UTF-8";
/* CSS Document */
.poem {
	font-style:italic;
	text-align: left
}

.display-center {
	text-align: center;
}

.display-inlline{
	display: inline-block;
}

h2 {
	text-shadow: 2px 2px 6px gray
}

.nav_bar {
	text-align: right;
}

.question > summary { 
    padding: 4px; 
    width: 400px; 
    background-color: #eeeeee; 
    border: none; 
    box-shadow: 1px 1px 2px #bbbbbb; 
    cursor: pointer;
}


