@charset "UTF-8";
/* CSS Document */

body {
    font-family: sans-serif;
    margin: 0;
    background-color: antiquewhite;
}

section {
    padding-top: 10px;
    margin-top: 50px;
}

.menu-container {
    max-height: 340px;
    height: 5%;
    margin: 0% auto;
    content: "";
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
}

.menu {
    color: #f00;
    font: 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.menu li {
    font-size: 14px/18px;
    float: right;
    color: white;
    display: inline-block;
    margin: 0% auto;
    padding: 10px 2%;
    position: relative;
    cursor: pointer;
    transition-property: background;
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.menu li:hover {
    color: #f00;
    background-color: rgba(151, 151, 151, 0.205);
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#home {
    background: url(../Project/images/background.jpg) no-repeat 50% 50%;
    background-attachment: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding: auto;
    padding-top: 300px;
    padding-bottom: 500px;
    color: white;
}

.head-main {
    text-shadow: 2px 4px 5px rgba(0,0,0,0.9);
    font-variant: small-caps;
    color: white;
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5em;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    line-height: 2;
    font-weight: 900;
    border: 5px double white;
    padding: 10px 10px;
}

.text-center {
    text-align: center;
}

.description {
    text-align: center;
}

.description h2 {
    font-size: 2.5em;
    font-variant: small-caps;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    line-height: 2;
    font-weight: 600;
    text-shadow: 2px 4px 5px rgba(0,0,0,0.2);
}

.sub-description {
    font-size: 1.5em;
    font-family: sans "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    line-height: 2;
    font-weight: 600;
    text-shadow: 2px 4px 5px rgba(0,0,0,0.2);
}

.container {
    padding: 15px 15px;
    margin: auto;
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    /* This ensures that the images cannot render outside of their container without forcing any scrollbars */
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

.gallery {
    line-height:0;
    column-count:4;
    column-gap: 5px;
}

.gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px; /* to match column gap */
}

iframe {
    display: block;
    margin: auto;
    padding-top: 25px;
}

.heading-padding {
    padding-bottom: 40px;
    text-align: center;
}

.reservation {
    width: 60%;
    padding: 10px;
    margin: 0px auto;
    background-color: rgba(100,65,0,0.3);
    box-shadow: -1px -1px 1px 0 rgba(0,0,0,0.1), 1px 2px 10px 0 rgba(0,0,0,0.5);  
}

.rsvp-text {
    text-align: center;
}

.reservation h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: black;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}

.reservation h2 span {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-weight: 900;
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: .4pt;
    word-spacing: .3pt;
    text-shadow: 2px 2px 4px black;
}

.reservation p {
    color: black;
    width: 50%;
    margin: 0 auto;
}

.reservation form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: blue;
    padding: 12px;
    width: 70%;
    border: 1px solid black;
    margin: 2% auto;
    background: rgb(227, 222, 222);
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.3);
    font-family: sans "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.reservation input[type="text"], .reservation input[type="tel"], .reservation input[type="email"]  {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: black;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 1px solid green;
    margin: 10px 1em;
    background: whitesmoke;
    box-shadow: inset 0px 3px 0px 0px rgba(5,5,5,0.15);
    font-family: sans "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.reservation input[type="text"]:hover {
    box-shadow: 0 0 18px rgba(100, 65, 0, 0.8);
}

.reservation input[type="tel"]:hover {
    box-shadow: 0 0 18px rgba(100, 65, 0, 0.8);
}

.reservation input[type="email"]:hover {
    box-shadow: 0 0 18px rgba(100, 65, 0, 0.8);
}

.form-spacer {
    padding: 30px 39px;
}

.terms {
    margin: 30px 1px 0 0;
    padding: auto;
    font-size: 14px;
    line-height: 5px;
    color: #000;
    cursor: pointer;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-weight: 600;
    position: relative;
    display: inline;
    float: right;
    transform: translateY(15px);
}

.terms:hover {
    color: orange;
    text-decoration: underline;
}

.submit input[type="submit"] {
    color: black;
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    margin: 0px 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    background-color: whitesmoke;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

.submit input[type="submit"]:hover {
    color: white;
    background-color: black;
    box-shadow: inset 1px 2px 15px 0 rgba(0,0,0,0.5);
}

#footer {
    background-color: rgba(100,65,0,0.3);
    color: black;
    text-shadow: 2px 2px 8px 0 rgba(0,0,0,0.4);
    padding: 20px 50px;
    text-align: center;
}


